<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main.layout">

<style type="text/css" layout:fragment="user.embedded.style">
    td, th {
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
     .add-pod-button {
         background-color: #007bff; /* 设置背景色为蓝色 */
         color: #fff; /* 设置文本颜色为白色 */
     }
    .custom-button {
        width: 100px; /* 设置按钮宽度为100像素 */
        display: flex;
        align-items: center;
    }
    .button-container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .sort-arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        vertical-align: middle;
    }

    .sort-arrow-up {
        border-bottom: 5px solid black;
        margin-left: 5px;
    }

    .sort-arrow-down {
        border-top: 5px solid black;
        margin-left: 5px;
    }
</style>
<th:block layout:fragment="user.top.script">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/element.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->

</th:block>



<div class="main_inner" layout:fragment="content.north">
    <div class="main-content-inner">
<h1>Pod List</h1>
<div id="app">
<!--    <button type="button" class="add-pod-button" onclick="goToCreatePage()">Add Pod</button>-->
    <el-button type="primary" plain  onclick="goToCreatePage()">添加</el-button>

    <input type="text" id="searchInput" placeholder="输入pod名称" >
    <el-button icon="el-icon-search"  type="mini" onclick="searchTable()" ></el-button>



    <!-- 分页部分 -->
<!--    <th:block th:fragment="pagination">-->
<!--        <div class="pagination">-->
<!--            <a th:href="@{/pods?page=1}" th:if="${currentPage > 1}">First</a>-->
<!--            <a th:href="@{/pods?page=${currentPage - 1}}" th:if="${currentPage > 1}">Previous</a>-->
<!--            <span th:text="${currentPage}"></span>-->
<!--            <a th:href="@{/pods?page=${currentPage + 1}}" th:if="${currentPage < totalPages}">Next</a>-->
<!--            <a th:href="@{/pods?page=${totalPages}}" th:if="${currentPage < totalPages}">Last</a>-->
<!--        </div>-->
<!--    </th:block>-->
<table id="myTable" >
    <colgroup>
        <col style="width: 250px;"/>
        <col style="width: 300px;"/>
        <col style="width: 180px;"/>
        <col style="width: 100px;"/>
        <col style="width: 100px;"/>
        <col style="width: 100px;"/>
        <col style="width: 200px;"/>
        <col style="width: 100px;"/>
        <col style="width: 100px;"/>
    <colgroup/>
    </colgroup>
    <thead>
    <tr>
        <th onclick="sortTable(0)">
            Pod名称
            <span class="sort-arrow" id="sort-arrow-name"></span>
        </th>
        <th onclick="sortTable(1)">
            镜像
            <span class="sort-arrow" id="sort-arrow-image"></span>
        </th>
        <th onclick="sortTable(2)">
            命名空间
            <span class="sort-arrow" id="sort-arrow-namespace"></span>
        </th>
        <th onclick="sortTable(3)">
            node
            <span class="sort-arrow" id="sort-arrow-node"></span>
        </th>
        <th onclick="sortTable(4)">
            状态
            <span class="sort-arrow" id="sort-arrow-status"></span>
        </th>
        <th onclick="sortTable(5)">
            是否可用
            <span class="sort-arrow" id="sort-arrow-availability"></span>
        </th>
        <th onclick="sortTable(6)">
            创建时间
            <span class="sort-arrow" id="sort-arrow-creation"></span>
        </th>
        <th>操作</th>
        <!-- 其他列 -->
    </tr>
    </thead>
    <tbody>
    <!-- 遍历当前页的数据 -->
<!--    <th:block th:each="pod : ${pagedResult.content}">-->
         <tr th:each="pod : ${podList}">
            <td th:id="'pod_name_' + ${pod.metadata.name}" th:text="${pod.metadata.name}"></td>
            <td th:id="'pod_image_' + ${pod.metadata.name}" th:text="${pod.spec.containers[0].image}"></td>
            <td th:id="'pod_namespace_' + ${pod.metadata.name}" th:text="${pod.metadata.namespace}"></td>
            <td th:text="${pod.spec.nodeName}"></td>
            <td th:text="${pod.status.phase}"></td>
             <td>
                <span th:if="${pod.metadata.annotations != null}">
                    <span th:each="annotation : ${pod.metadata.annotations}">
                        <span th:if="${annotation.key.startsWith('status')}">
                            <span th:text="${annotation.value.trim()}"></span>
                        </span>
                    </span>
                </span>
             </td>
            <td th:text="${pod.metadata.creationTimestamp}"></td>

<!--            <td th:text="${pod.spec.containers[0].resources.limits}"></td>-->
            <td style="vertical-align: middle;">
                <div class="button-container">
                    <el-button type="info" class="custom-button" plain size="small" th:data-name="${pod.metadata.name}" th:data-namespace="${pod.metadata.namespace}" onclick="editPod(this.getAttribute('data-name'), this.getAttribute('data-namespace'))">迁移</el-button>
                </div>
                <div class="button-container">
                    <el-button type="danger" class="custom-button" plain size="small" th:data-name="${pod.metadata.name}" th:data-namespace="${pod.metadata.namespace}" onclick="deletePod(this.getAttribute('data-name'), this.getAttribute('data-namespace'))">删除</el-button>
                </div>
                <div class="button-container">
                    <el-button type="warning" class="custom-button" plain size="small" th:data-name="${pod.metadata.name}" th:data-namespace="${pod.metadata.namespace}" onclick="stopPod(this.getAttribute('data-name'), this.getAttribute('data-namespace'))">停止</el-button>
                </div>
                <div class="button-container">
                    <el-button type="success" class="custom-button" plain size="small" th:data-name="${pod.metadata.name}" th:data-namespace="${pod.metadata.namespace}" onclick="startPod(this.getAttribute('data-name'), this.getAttribute('data-namespace'))">启动</el-button>
                </div>
            </td>
        </tr>

<!--    </th:block>-->

    </tbody>
</table>

    <!-- 调用分页块 -->
<!--    <th:block th:replace="template :: pagination"></th:block>-->

</div>
    </div>
</div>

<th:block layout:fragment="user.embedded.script" th:remove="tag">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- 引入 jQuery -->
    <!--  <script type="javascript" src="../../static/assets/js/vue.js"></script>-->
    <script src="../../static/assets/js/element.js"></script>
    <script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
    <!-- bootstrap 4 js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/metisMenu.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.min.js}"></script>

    <!-- Start datatable js -->
    <script th:src="@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js}"></script>
    <script th:src="@{https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js}"></script>
    <!-- others plugins -->
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/utils.js}"></script>
    <script type="text/javascript">


        // $.ajax({
        //     url: '/workload/getPodList',
        //     // url: '/workload/deletePod',
        //     type: 'GET',
        //     dataType: 'json',
        //     data:{
        //
        //     },
        //     success: function(serverData) {
        //
        //         alert(serverData);
        //
        //         console.log(serverData);
        //         location.reload();
        //     },
        //     error: function(xhr, status, error) {
        //         console.log('获取 Pod 列表失败：' + error);
        //     }
        // });
        function goToCreatePage() {
            console.log("Go to create page");
            window.location.href = "/workload/createPod";
        };
        function editPod(podName,podNamespace) {
            console.log("Go to edit page");
            window.location.href = "/workload/editPod?podName=" + podName + "&podNamespace=" + podNamespace;
        };
        function deletePod(name, namespace){
            // var podName = document.getElementById('pod_name_' + index).innerText;
            // var namespace = document.getElementById('pod_namespace_' + index).innerText;
            console.log("Deleting pod with name: " + name + " and namespace: " + namespace);
            // console.log("Delete Pod: " + podName + ", Namespace: " + namespace);

            $.ajax({
                url: '/workload/deletePod',
                // url: '/workload/deletePod',
                type: 'POST',
                dataType: 'text',
                data:{
                    podName:name,
                    podNamespace:namespace
                },
                success: function(serverData) {

                    alert(serverData);

                    console.log(serverData);
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log('删除 Pod 列表失败：' + error);
                }
            });
        };
        function stopPod(name, namespace){
            // var podName = document.getElementById('pod_name_' + index).innerText;
            // var namespace = document.getElementById('pod_namespace_' + index).innerText;
            console.log("Stopping pod with name: " + name + " and namespace: " + namespace);
            // console.log("Delete Pod: " + podName + ", Namespace: " + namespace);






            $.ajax({
                url: '/workload/stopPod',
                type: 'POST',
                dataType: 'text',
                data:{
                    podName:name,
                    podNamespace:namespace
                },
                success: function(serverData) {

                    alert(serverData);

                    console.log(serverData);
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log('停止 Pod 失败：' + error);
                }
            });
        };
        function startPod(name, namespace){
            // var podName = document.getElementById('pod_name_' + index).innerText;
            // var namespace = document.getElementById('pod_namespace_' + index).innerText;
            console.log("Starting pod with name: " + name + " and namespace: " + namespace);
            // console.log("Delete Pod: " + podName + ", Namespace: " + namespace);

            $.ajax({
                url: '/workload/startPod',
                type: 'POST',
                dataType: 'text',
                data:{
                    podName:name,
                    podNamespace:namespace
                },
                success: function(serverData) {

                    alert(serverData);

                    console.log(serverData);
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log('启动 Pod 失败：' + error);
                }
            });
        };

        var arrowStatus = {
            name: 'none',
            image: 'none',
            namespace: 'none',
            node: 'none',
            status: 'none',
            availability: 'none',
            creation: 'none'
        };
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            // 初始排序方向为升序
            dir = "asc";
            arrowStatus[n] = dir;

            // 更新箭头样式
            updateArrowStyle(n, dir);

            while (switching) {
                switching = false;
                rows = table.rows;
                // 遍历所有行，除了表头
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    // 如果当前列是数字，则按数字大小排序
                    if (isNaN(x.innerHTML)) {
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    } else {
                        if (dir == "asc") {
                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (Number(x.innerHTML) < Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                }
                if (shouldSwitch) {
                    // 如果需要交换，则将两个行交换位置
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    // 如果没有需要交换的行，并且当前排序方向为升序，则改为降序
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        function updateArrowStyle(n, dir) {
            // 清除所有箭头样式
            var arrows = document.getElementsByClassName('sort-arrow');
            for (var i = 0; i < arrows.length; i++) {
                arrows[i].classList.remove('sort-arrow-up');
                arrows[i].classList.remove('sort-arrow-down');
            }

            // 获取指定列的箭头元素
            var arrowElement = document.getElementById('sort-arrow-' + n);
            if (arrowElement !== null) {
                // 更新指定列的箭头样式
                if (dir == 'asc') {
                    arrowElement.classList.add('sort-arrow-up');
                } else if (dir == 'desc') {
                    arrowElement.classList.add('sort-arrow-down');
                }
            }
        }

        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementsByTagName("tbody")[0]; // 假设只有一个表格，如果有多个表格，请根据实际情况修改选择器
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // 假设在第一列中搜索，根据实际情况修改索引
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    //     $.ajax({
    //     url: '/workload/getPodList',
    //     type: 'GET',
    //     dataType: 'json',
    //     success: function(serverData) {
    //
    //         var result = JSON.parse(serverData.result);
    //         console.log(result);
    //
    //         // var podList = [];
    //         //
    //         // $.each(serverData, function (key, value) {
    //         //     podList[key] = JSON.parse(value);
    //         // });
    //         //
    //         // console.log(podList);
    //
    //
    //         // var podList = response.data.podList;
    //         // console.log(podList);
    //     },
    //     error: function(xhr, status, error) {
    //         console.log('获取 Pod 列表失败：' + error);
    //     }
    // });


    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false ,
                tableData: []
            }
        },
        mounted() {
            // 在实际应用中，你可以从 API 或其他方式获取 podList 数据
            this.fetchPodList();
        },
        methods: {
            fetchPodList() {
                // 假设从后端获取 podList 数据
                // 例如使用 Axios 发起请求

            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            }
        }
    })
</script>)
</th:block>
</html>
